#AddEmployeeForm.css

input[type=submit] {
    width: 40%;
    background-color: rgb(130, 130, 226);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }